Date: {{todayCat.date}}
<br><br>
Calorie Goal: {{todayCat.calGoal}} &nbsp &nbsp 
Monetary Goal: ${{todayCat.monGoal}}
<br>
Current Calories: {{todayCat.curCal}} &nbsp &nbsp
Current $ Spent: ${{todayCat.curMon}} <br><br>

<a href="/add">Add Food Entry</a> 
<a href="/lookup">Search Catalogs</a> <br><br>

<table style="width:50%">
  <tr>
    <th>NAME</th>
    <th>TIME</th> 
    <th>PRICE</th>
    <th>CALORIES</th>
  </tr>
{{#each foods}}
	<tr>
		<td>{{this.name}}</td>
		<td>{{this.time}}</td>
		<td>{{this.price}}</td>
		<td>{{this.cals}}</td>
	</tr>
{{/each}}

</table>

<form method="POST" action="/home">
	<input type="submit" value = "Complete Day">
</form>