<script src="home.js" type="text/javascript"></script>

<div class = "log">

	Date: {{todayCat.date}}
	<br><br>
	Calorie Goal: <span id = "cg">{{todayCat.calGoal}}</span> &nbsp; 
	Monetary Goal: <span id = "mg">${{todayCat.monGoal}}</span>
	<br>
	Current Calories: <span class = "changes" id = "cc">{{todayCat.curCal}}</span> &nbsp;
	Current $ Spent: <span class = "changes" id = "cm">${{todayCat.curMon}}</span><br><br>

	<button class = "homeBtns" onclick="location.href = '/add'"> Add Food Entry </button> &nbsp;
	<button class = "homeBtns" onclick="location.href = '/lookup'"> Search Catalogs </button> <br><br> 

	{{#if newFood}}
		<table style="width:96%" id = "myTable">
	{{else}}
		<table style="width:96%">
	{{/if}}
		<tr>
			<th>Name</th>
			<th>Time (0-23)</th> 
			<th>Price ($)</th>
			<th>Calories</th>
		</tr>
	{{#each foods}}
		<tr>
			<td>{{this.name}}</td>
			<td>{{this.time}}</td>
			<td>{{this.price}}</td>
			<td>{{this.cals}}</td>
		</tr>
	{{/each}}

	</table>

	<br>
	<form method="POST" action="/home">
		<input id = "newDay" type="submit" value = "Start New Day">
	</form>

	</div>