<script src="search.js" type="text/javascript"></script>

<div class = "log">

	<button class = "homeBtns" onclick="location.href = '/home'"> Home </button>
	<br>

	<h3>Want to track your progress?</h3> 
	<h3>Search up a previous Catalog (YEAR-MO-DY): </h3>

	<div id="errmessage" class="handle"></div>

	<form class = "entryForm" name="myform" method="POST" action="/lookup" onsubmit="return validate(displayErr)">
		<label class = "lookin">Year:</label> <input type="number" name="year" autofocus><br>
		<label class = "lookin">Month:</label> <input type="number" name="month"><br>
		<label class = "lookin">Day:</label> <input type="number" name="day"><br><br>
		<input type="submit" value="Search">
		<br>
	</form>

	<br>

	{{#if searching}}<h3>Or check out your <a href="/lookup?recent=true">most recent catalog!</a></h3>{{/if}}

	<h2 style="color:red">{{none}}</h2>

	{{#if result}}

	Here are your numbers on <b>{{date}}!</b>
	<br><br>
	Calorie Goal: {{result.calGoal}} &nbsp; &nbsp; 
	Monetary Goal: ${{result.monGoal}}
	<br>
	Calories Eaten: <b>{{result.curCal}}</b> &nbsp; &nbsp;
	$ Spent: <b>${{result.curMon}}</b> <br>
	Weight: <b>{{myweight}}</b><br><br>

	<table style="width:96%">
	<tr>
		<th>NAME</th>
		<th>TIME</th> 
		<th>PRICE</th>
		<th>CALORIES</th>
	</tr>
	{{#each result.foods}}
		<tr>
			<td>{{this.name}}</td>
			<td>{{this.time}}</td>
			<td>{{this.price}}</td>
			<td>{{this.cals}}</td>
		</tr>
	{{/each}}

	</table>

	{{/if}}

</div>


